.page{
    display: flex;
    margin-top: 50px;
    box-shadow: 5px 5px 15px black;
}

.left{
    background-color: rgb(245, 0, 0);
    padding: 30px;
    width:40% ;
    color: white;
}

.container{
    background-color: azure;
    height: 5px;
    width: 20%;
    border-radius: 15px;
    margin-left: 30%;
    
}

.skill{
    width: 70% ;
    height: 5px;
    border-radius: 15px;
    font-size: 10px;
    background-color: rgb(245, 0, 0);

}   

.right{
    background-color: white;
    padding-top: 40px;
    width: 50%;
    padding-left: 10px;
}

    

.div0{
    display: flex;
  
}

.ch{
    text-align: right;
    font-size: 10px;
}

.rouge{
margin-left: 50%;
margin-top: 150px;
background-color: rgb(245, 0, 0);
width: 115px;
height: 30px;
border-radius: 20px;
text-align: center;
color: white;
padding-top: 10px;
}

@media screen and (max-width: 1024px)
{

    .page{
        flex-wrap: wrap;
    }
    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }
}